.banner {
  background-image: url(https://images.unsplash.com/photo-1541274385403-fc308d54db77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80);
  height: 180vh;
}

.page {
  height: 100vh;
}

.footer {
  background-color: rgb(171, 152, 207);
  position: fixed;
  text-align: center;
  bottom: 0;
}

.footer a {
  color: rgb(244, 238, 255);
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 180vh;
  }
}

.nav .active {
  background-color: rgba(129, 89, 202, 0.527) !important;
  color: white !important;
}

.nav-link {
  color: rgba(37, 11, 87, 0.527) !important;
}

button {
  background-color: rgba(129, 89, 202, 0.527);
  color: white;
  border-color: rgba(129, 89, 202, 0.527);
}

button a:hover {
  background-color: rgba(36, 19, 68, 0.692);
  color: white;
  border-color: rgba(48, 20, 99, 0.527);
}
